<nav class="navbar sticky-bottom bg-body-tertiary">
    <div class="container-fluid f-info offset-4 row">
        <ul class="social-link col col-ms-2 col-md-2 col-lg-4">
            <a class="navbar-brand" href="https://in.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="navbar-brand" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a class="navbar-brand" href="https://www.instagram.com/accounts/login/?hl=en"><i class="fa-brands fa-instagram"></i></a>
            <a class="navbar-brand" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a class="navbar-brand" href="https://web.telegram.org/"><i class="fa-brands fa-telegram"></i></a>
            <p> Copyright &#9400; 2023 HubSpot, Inc.</p>

        </ul>

    </div>

</nav>